body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
p {
    color: dimgray;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-highlight{
    color:tomato 
}  
.green-color{
    color:darkslategray;
}
#first-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 3%;
    padding-top: 4% ;
}

#half-width img{
    width: 40%;
    margin-top: 3% ; 
} 
.link-button{
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    background-color:orange;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.about-area{
    float: left;
    width: 40%;
    margin-left: 6%;
    padding-right: 3%;
    padding-top: 2% ;
    text-align: justify;
}
.about-area img{
    width: 100%;
}
#work-area{
    float: left;
    width: 100%;
    background-color: whitesmoke;
    height: 1000px;
    padding-left: 8%;
    margin-right: 0px;
}
#middle-align{
    text-align: center;
    padding: 30px; 
    width: 90%;
}
.cards{
    width: 25%;
    border-radius: 15px;
    margin: 1%;
    font-size: 22px;
    float:left;
    background-color: white;
    box-shadow: 2px 2px 20px whitesmoke

}
.des{
    width: 100%;
    text-align:center;
}
.image img{
    width: 100%;

}
.height-change{
    padding-bottom: 40px;
}

.banner img{
    width: 65%;
    margin: 10% 20% 10% 15%;
}
.banner{
    position: relative;
}
.middle{
    color:blanchedalmond;
    margin-top: -22%;
    text-align: center;
    width: 100%;
}
button{
    position: center;
    padding: 20px 30px;
    color:white;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    font-size: 20px;
    border-radius: 5px;
    margin-top: 16% ;
    background-color:orange;
}
.self{
    background-size: cover;
}
.square{
    width: 300px;
    height: 300px;
    background: url("photo 3.jpg");
    border-radius: 10px;
    shape-outside: square;
    float: left;
    margin: 20px;
    position: relative;
} 
.main{
    position: absolute;
    width: 65%;
    padding: 30px;
    background-color: lemonchiffon;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 15px 50px lightcyan;
    margin: 10% 20% 10% 15%;
    text-align: justify;
}
.main h1{
    color:lightseagreen
}
footer{
    font-size: 12px;
    text-align: center;
    padding-top: 650px;
}
#size{
    font-size:30px ;
    color: cyan;
}